* { 
    text-decoration: none;
    font-family: Montserrat, "NixieOne", "Archia", sans-serif;
    color: white;
}

body {
    /*background-color: #070607;*/
    font: "Oswald";
    margin: 0;
    padding:0;
    text-align: center;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
}

header a {
    font-size: 2em;
    font-weight: 500;
}

#header_left {
    flex: 1 1 35%;
    text-align: left;
    padding-left: 5%;
}

#header_right {
    flex: 1 1 65%;
    padding-right: 5%;
}

#header_right ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

main {
    text-align: center;
    color: #ffff;
}

#first_screen {
    background-color: black;
    display: flex;
    align-items: center;
    height: 100vh;
}

#first_screen>div {
    flex: 1 1 40%;
    margin: 5%;
}

#texte_presentation {
    text-align: left;
}

#neon_minimalist svg{
    width: 100%;
}

 @keyframes flicker {
    0%    { opacity: 1;   }
    3%    { opacity: 0.4; }
    6%    { opacity: 1;   }
    7%    { opacity: 0.4; }
    8%    { opacity: 1;   }
    9%    { opacity: 0.4; }
    10%   { opacity: 1;   }
    100%  { opacity: 1;   }
  }

#neon_minimalist svg {
  animation: flicker 6s infinite step-end;
} 

#about {
    height: 100vh;
}

#arrow_top {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

#arrow_top svg {
    width: 100px;
}
