@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

$max-mobile:600px;
$min-tab:601px;
$max-tab:768px;
$min-big-tab:769px;
$max-big-tab:1024px;
$max-desktop:1200px;

* { 
    text-decoration: none;
    font-family: Montserrat, "NixieOne",  "Archia", sans-serif;
    color: inherit;
    scroll-behavior: smooth;

    ul {
        list-style-type: none;
    }

}

body {
    margin: 0;
    padding:0;
    color: white;
}

section {
    height: 100vh;
}

header {
    z-index:100;
    position: absolute;
    width:100%;
    box-sizing: border-box;
    padding: 40px 50px 0;

    .header-inner{
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 20px 30px;   
        
    
        a {
            font-size: 1.5em;
            font-weight: 500;
        }
    
        nav {
            flex-basis:70%;
    
            ul {
                display: flex;
                justify-content: space-between;
            }
        }
    
    }
}

.first_screen {
    background-color: black;
    display: flex;
    align-items: center;
    color: #ffff;

    #texte_presentation {
        text-align: left;
    }

    &>div {
        flex: 1 1 40%;
        margin: 5%;
    }
}



.title {
    font-size: 5rem;
}

@media screen and (max-width:$max-desktop) {
    .title{
        font-size: 4rem;
    }
}

@media screen and (max-width:$max-big-tab) {
    .title{
        font-size: 3rem;
    }
}

@media screen and (max-width:$max-tab) {
    .title{
        font-size: 2.5rem;
    }
}

@media screen and (max-width:$max-mobile) {
    .title{
        font-size: 2rem;
    }
}

 @keyframes flicker {
    0%    { opacity: 1;   }
    3%    { opacity: 0.4; }
    6%    { opacity: 1;   }
    7%    { opacity: 0.4; }
    8%    { opacity: 1;   }
    9%    { opacity: 0.4; }
    10%   { opacity: 1;   }
    100%  { opacity: 1;   }
  }

#neon_minimalist svg {
    width: 75%;
    animation: flicker 6s infinite step-end;
    fill: white;
    filter: drop-shadow(0px 0px 15px white);

} 

#about{
    display: flex;
    // justify-content: space-around;
    color: black;
    background-color: white;

    &>div {
        margin: 2rem;
    }

    .about-img{
        flex: 40%;

        &>img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .about-description{
        flex: 60%;

        h2 {
            font-size: 2rem;
            font-weight: 900;
        }

        .container {
            background-color: #BBCBE3;
            padding: 2rem;
            border-radius: 10px;

            .resume{
                background-color: #E4E2E3;
                margin: 2.5rem 0;
                padding: 1.5rem;
                border-radius: 10px;
            }

            .skills{
                img {
                
                height: 80px;
                margin: .25rem;
                }
            }
        }

    }

}

@media screen and (max-width:$max-tab) {
    #about{
        flex-direction: column;

        .about-img{
            margin: 1rem;
            &>img{
                border-radius: 180px;
                display: block;
                aspect-ratio: 1/1;
                height: 190px;
                width: auto;
                margin: auto;
            }
        }
        .about-description{
            margin-top: 0;
            h2{
                margin-top: 0;
                margin-bottom: 1rem;
                text-align: center;
            }
            .container{
                padding: 1rem;
            }
            .resume{
                margin: 1rem 0!important;
            }
            .skills{
                display: none;
            }
        }
    }
}

.scroll-to-top {
    position: fixed;
    bottom: 1em;
    right: 1em;
    mix-blend-mode: difference;
    svg {
        width: 100px;
        mix-blend-mode: difference;
    }
}

#portfolio {
    background-color: white;
    color: black;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .nav-projects {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        margin-bottom: 2rem;

        .left {
            flex:0 35%;
            h2{
                font-weight: 500;
                font-size: 4rem;
                letter-spacing: -.15rem;
                line-height: 1;
            }
        }

        .right{
            flex:0 60%;
            display: flex;
            color: black;
            text-shadow: rgba(255, 255, 255) 1px 1px 5px;

            .item {
                margin: 0 1rem;
                flex: 1;
                background-position: center top;
                background-size: auto 100%;
                background-repeat: no-repeat;
                border-radius: .5rem;
                transition: flex 250ms ease-in-out;
                position: relative;
                cursor: pointer;

                h3 {
                    margin: 0;
                    font-size: 1.5rem;
                    position: absolute;
                    left: 0.5rem;
                    bottom: 0.5rem;
                }

                &:hover{
                    flex: 2;

                }
            }
        }
    }

    .view-project {
        background-color: #f0f0f0;
        // background-color: #1b1b1b;
        border-radius: .5rem;
        display: flex;
        align-items: center;
        height: 100%;
        margin: auto;
        padding: 2rem;
        box-sizing: border-box;
        overflow: hidden;

        *{
            flex: 50%;
        }

        .description {
            height: fit-content;
            font-size: 1rem;
            margin-left: 2rem;
            position: relative;
            height: 100%;

            .project-selected{
                .date{
                    font-style: italic;
                }
                .details{
                    width: 80%;
                }
                .role{
                    display: flex;
                    width: 50%;
                    p{
                        width: fit-content;
                        &.role-title{
                            font-weight: 800;
                        }
                    }
                }
                .links{
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    padding-right: 25px;
                    box-sizing: border-box;
                    .fonctionnal-link{
                        background-color: white;
                        width: 100%;
                        padding: 2rem;
                        border-radius: 25px;
                    }
                    img{
                        // position: absolute;
                        // right: 25px;
                        // bottom: 25px;
                        height: 64px;
                        float: right;
                    }
                }
            }
        }
        
        .capture {
            max-height: 100%;
            img {
                max-width: 100%;
                height: 100%;
            }
        }
    }

    .filters {
        display: inline-flex;
    }

    .filters_items {
        text-transform: uppercase;
        margin: 5px;
        padding: 10px 15px;
        cursor: pointer;
    
    }

}

#contact{
    background-color: black;
    text-align: center;
    padding: 2rem;
    height: auto;
    
    h2{
        font-size: 4rem;
    }

    .container{
        margin: 2rem;
        .social {
            a {
                margin: 2rem;
                img {
                    height: 64px;
                }
            }
        }
    }
    
    

}